[Desktop Entry]
Name=Defter
Exec=/usr/share/defter/Defter
Comment=Sayfalar halinde not tutmanın en güvenli yolu!
Terminal=false
Icon=/usr/share/pixmaps/defter.png
Type=Application
Path=/usr/share/defter/
StartupNotify=false
